:root {
    --dark-color: #19283f;
    --green-color: #33d1cc;
}

.green-color {
    color: var(--green-color);
}

body {
    font-family: 'roboto', sans-serif;
}

.my-element {
    display: inline-block;
    margin: 0 0.5rem;
    animation: all;
    animation-duration: 1s;
}

.main-btn {
    background-color: var(--green-color);
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.main-btn:hover {
    background-color: var(--green-color);
    color: white;
    transform: scale(1.1);
    transition: transform 0.6s;
    will-change: transform;
}


/* start Navbar */

.navbar {
    background-color: var(--dark-color);
}

.navbar-brand .logo {
    width: 50px;
    height: 50px;
}

.navbar-brand .logo:hover {
    transform: scale(1.1);
    transition: transform 0.6s;
    will-change: transform;
}

.navbar .navbar-nav .nav-link {
    color: rgb(226, 219, 219);
    margin: 0px 4px;
}

.navbar .navbar-nav .nav-link:active,
.navbar .navbar-nav .nav-link:focus,
.navbar .navbar-nav .nav-link:hover {
    color: var(--green-color);
    box-shadow: #33d1cc 0px 0px 5px;
}

.navbar .search {
    border-left: 1px solid var(--green-color);
}

.navbar .search svg {
    color: var(--green-color);
    cursor: pointer;
}

.navbar .navbar-toggler[aria-expanded="true"] {
    background-color: var(--green-color);
    transition: background-color 0.5s ease-in-out;
    will-change: transform;
}


/* End Navbar */


/* Landing */

.background-color {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 100vh;
    background-color: #c6dbcf;
}

.landing-title {
    font-size: 3rem;
    color: var(--green-color);
    font-weight: bold;
    margin-bottom: 2rem;
    position: relative;
}


/* End Of Landing */